@import "tailwindcss";

@theme {
  --color-avocado-100: oklch(0.99 0 0);
  --color-brand-green: #1a7c55;
  --color-brand-lightgreen: #33aa66;
  --color-brand-darkgreen: #02431e;
  --color-brand-white: #f7f5ee;
  --color-toto-brown: #eb9e3f;
}

@utility custom-btn-hover {
  @apply transition-transform duration-200 ease-in-out
         hover:scale-125 hover:cursor-pointer
         focus:outline-none focus:ring-2 focus:ring-brand-green;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}
