@import "tailwindcss";

@theme {
  --color-brand-green: #1a7c55;
  --color-brand-lightgreen: #33aa66;
  --color-brand-darkgreen: #02431e;
  --color-brand-white: #f7f5ee;
  --color-brand-brown: #eb9e3f;
  --color-brand-warning: #c20f1d;
  --color-brand-warning-light: #fff4f5;
  --breakpoint-4xl: 2000px;
}

@utility custom-btn-hover {
  @apply transition-transform duration-300 ease-in-out
         hover:scale-110 hover:cursor-pointer;
}
@utility custom-card-hover {
  @apply transition-transform duration-300 ease-in-out
         hover:scale-90 hover:cursor-pointer;
}
@utility custom-size-minmax {
  @apply min-w-[360px] max-w-[1920px] m-auto;
}

/* ----  page mention légale  ----  */
@utility h3-style-page-rules {
  @apply text-xl font-semibold mb-4 mt-8 text-brand-darkgreen;
}

/* ----  *******************  ----  */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}
